{% load tagging_tags tz %}
<div id="link-{{ link.id }}" class="linkpile-link">
  <h3><a href="{{ link.url }}">{% if link.title %}{{ link.title }}{% else %}{{ link.url }}{% endif %}</a></h3>
  <p class="metadata">
    <a class="permalink" href="{{ link.absolute_url }}">#</a>&nbsp;
    <a class="archive" href="{{ link.archive_url }}">archive</a>
    <a class="edit" href="{{ link.edit_url }}">edit</a>&nbsp;
    <span class="date">{{ link.date|date:"r" }}</span>
    {% tags_for_object link as tags %}{% if tags %}<span class="tags">{% for tag in tags %}
      <a href="{% url "linkpile-tags" tag %}">{{ tag }}</a>{% endfor %}
    </span>{% endif %}
  </p><!-- .metadata -->
  {% if link.description %}<p class="description">{{ link.description }}</p>{% endif %}
</div><!-- .link -->
